.wd-navigation {
    background-color: white;
    list-style: none;
    padding: 0px;
    width: 125px;
    margin: 0px;
    margin-left: 20px;
    font-size: 15px;
}

.wd-navigation li {
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wd-navigation li.wd-active {
    border-left: 2px solid black;
}

.wd-navigation li.wd-active a {
    color: black;
}

.wd-navigation a {
    color: red;
    text-decoration: none;
}

.wd-right-side-bar-navigation {
    background-color: white;
    list-style: none;
    padding: 0px;
    width: 300px;
    margin: 0px;
    margin-left: 20px;
    font-size: 20px;
}

.wd-right-side-bar-navigation li {
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wd-right-side-bar-navigation a {
    color: red;
    text-decoration: none;
}

.wd-right-side-bar-navigation li i {
    color: red;
}

.d-flex.align-items-center.wd-breadcrumb-nav {
    --bs-breadcrumb-divider: ">";
}