.flex-grow-0.me-2.d-none.d-lg-block > .list-group > .list-group-item > a {
    text-decoration: none;
    color: red;
}

.flex-grow-0.me-2.d-none.d-lg-block > a {
    text-decoration: none;
    color: red;
}