.flex-grow-0.me-2.d-none.d-lg-block > .list-group > .list-group-item > a {
    text-decoration: none;
    color: red;
}

.flex-grow-0.me-2.d-none.d-lg-block > a {
    text-decoration: none;
    color: red;
}

.list-group.wd-modules > .list-group-item > .list-group > .list-group-item > .fa.fa-link {
    color: green;
}

.list-group.wd-modules > .list-group-item > .list-group > .list-group-item > .fa.fa-external-link {
    color: red;
}

.list-group.wd-modules > .list-group-item > .list-group > .list-group-item > a {
    color: red;
    text-decoration: none;
}